@import url('https://fonts.cdnfonts.com/css/play');

.content_csvc{
    color: black !important;
    font-family: 'Play', sans-serif !important;
    width: 100%;
}

.nav_tabs{
    font-family: 'Play', sans-serif !important;
    margin-top: 8rem !important;

}
.form-edit-delete {
    width: 8rem;
    align-items: center;
    justify-content: space-between;
}
.edit_csvc{
    font-size: 0.9rem !important;
    width:3.5rem !important ;
    height: 2rem !important;
    text-align: center !important;
}

.edit_csvc-icon{
    margin-left: -0.35rem !important;
    margin-right: 0.15rem !important;
}

.delete_csvc{
    font-size: 0.9rem !important;
    width:3.5rem !important ;
    height: 2rem !important;
    text-align: center !important;
}

.delete_csvc-icon{
    margin-left: -0.35rem !important;
    margin-right: 0.15rem !important;
}


.alert-csvc{
    width: 45%;
    margin-left: 1rem;
    margin-top: 5rem;
}

.table_content_csvc{
    margin-left: 12rem;
    width: 70% !important;
}
.list_nav{
    width: 85% !important;
    margin-left: 19rem !important;
}